
main{
    background: #FEF2A8;
    display: flex;
    padding-left: 380px;
    

}
.cone{
    height: 300px;
    width:170px;
    border: 1px solid #cccccc;
    margin-top: 85px;
    border-radius: 60px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.58);
    position: absolute;

    }
    .stick{
        height: 200px;
        width:50px;
        border: 1px solid #9E9E9E;
        border-radius: 20px;
        border-top: #fff;
        margin-top: 380px;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        margin-right: 100px;
        position: relative;
        }
        .first{
            background: linear-gradient(to right, #F582D7, #EFC0D5 30%, #CD357B 70%) ;
            border-radius: 2em 2em .5em .5em;
            margin-left: 20px
        
        }
        .first-stick{
            background: #edc894;
            margin-left: 80px;
            
        }
        .second{
            background: linear-gradient(to right, #7D5860,  #9A8393 30%, #55263B 70%) ;
            display: inline-block;
            margin-left: 300px
        }
        .second-stick{
            background: repeating-linear-gradient(
            45deg,
            #CC9C75,
            #CC9C75 10px,
            rgb(216, 104, 13) 10px,
            rgb(216, 104, 13) 20px
          );
          margin-left: 130px
        }
        .third{
            background: linear-gradient(to right, #A25F37, #D5CABE 30%, #84230D 70%) ;
            border-radius: 2em 2em .5em .5em;
            margin-left: 580px
        }
        .third-stick{
            background: rgb(226, 197, 135);
            margin-left: 130px
        }


        